<template name="achregister">
  <div id="bank_acct" style="width:600px;height:300px;display: table-cell;background-color: moccasin;font-family: 'Courier New', Courier, monospace;padding-top: 10px; padding-right: 10px;padding-bottom: 10px;padding-left: 10px;">
    <div>
      <h1>Bank Accounts</h1>
      <div>
        <a href="#" onclick="ToggleShow('div_achregister')">
          <span id="addnew_div_achregister">Add New</span>
        </a>
      </div>
      <div id="div_achregister" style="display:none">
        <div>
          {{> bank_account_form}}
        </div>
      </div>
    </div>
    <br>
    <div id="1" style="display: table-row; width:100%">
        {{#each bank_accounts}} {{>bank_account_list}} {{/each}}
    </div>
  </div>
</template>

<template name="bank_account_form">
  <div style="display: table row width 100%;"></div>
  <form action="/charge" method="post" id="ach_payment-form">
    <div class="form-row">
      <label for="card-element">
        <h3>Add Bank Account</h3>
      </label>
      <div id="bankaccount-element">
        <div><input type="text" id="bank_friendly_name" placeholder="Easy name to remember"></div>
        <div><input type="text" id="txt_routing_number" placeholder="Routing Number"></div>        
        <div><input type="text" id="txt_bank_account_number" placeholder="Account Number"></div>
      </div>
      <div id="ach-errors" role="alert" style="color:red"></div>
    </div>
    <button type="button" onclick="CancelAdd('div_achregister')">Cancel</button>&nbsp;
    <button type="button" id="btn_add_bank_account">Add</button>
  </form>             
</template>

<template name="bank_account_list">
    <div id="1" style="display: table-row; width:100%">
        <a href="#" style="text-decoration: none">
            <div style="display: table-cell;">{{name}}&nbsp;</div>
            <div style="display: table-cell;">{{account_details.last4}}</div>
            <div style="display: table-cell;"><button class="btn_charge_bank_account btn btn-default" value={{external_account_id}}>Pay</button></div>
            <div style="display: table-cell;"><button class="btn_verify_bank_account btn btn-default" value={{external_account_id}}>Verify</button></div>
        </a>
    </div>
  </template>
