   <template name="achregister">
     <div>
    <form action="/charge" method="post" id="ach_payment-form">
        <div class="form-row">
          <label for="card-element">
            Add Bank Account
          </label>
          <div id="card-element">
            <!-- A Stripe Element will be inserted here. -->
          </div>
      
          <!-- Used to display Element errors. -->
          <div id="card-errors" role="alert" style="color:red"></div>
        </div>
      
        <button type="button" onclick="CancelAdd('div_achregister')">Cancel</button>&nbsp;<button>Add</button>
      </form>
      </div>
</template>