<template name="payment_account">
    <div>
        <h1>Payment Sources</h1>
    </div>
    <br>
    <div>Payment Amount $<input type="text" id="payment_amount" placeholder="0.00"></div>
    <div style="display: table-row; width:100%">
        {{>ccregister}}&nbsp;
         {{>achregister}}
    </div>
  
    <div>
        <h1>Payment Log</h1>
        <div>
            {{>payment_log}}
        </div>
    </div>
    <script>
        function ToggleShow(divname) {
            var x = document.getElementById(divname),
                y = document.getElementById('addnew_' + divname);

            if (x.style.display === "none") {
                x.style.display = "block";
                y.style.display = "none";
            } else {
                x.style.display = "none";
                y.style.display = "block";
            }
        }

        function CancelAdd(divname) {
            var x = document.getElementById(divname),
                y = document.getElementById('addnew_' + divname);
            if (x.style.display === "none") {
                x.style.display = "block";
                y.style.display = "none";
            } else {
                x.style.display = "none";
                y.style.display = "block";
            }
        }
    </script>
</template>